@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body, button, input {
  font-family: 'Roboto', 'Didact Gothic', sans-serif;
}

body {
  background-color: #121215;
  color: #eaeaea
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;  /* distanciamento minimo lateral */
}

.container header {
  display: flex;
  padding: 32px 0;
  justify-content: space-between;
  align-items: center;    
}

.container header h1 {
  background: linear-gradient(90deg, #4AC7FA 0%, #E649F5 100%);

  -webkit-background-clip: text;  /* texto e não caixa */ 
  background-clip: text; /* compatibilidade de navegadores */ 

  -webkit-text-fill-color: transparent;
}

header form {
  display: flex;
  max-width: 324px;
  width: 100%; /* 100% mas no maximo 324px */
}

header form input {
  padding: 16px;
  font-size: 16px;
  width: 100%;

  border-radius: 4px 0 0 4px;
  border: 3px solid transparent;

  /* sem borda colorida na direita p unir com o icon */
  border-right-width: 0;

  transition: border-color 0.2s;
}

header form input:hover {
  border-color: #4AC7FA;

}

header form button {
  width: 56px;

  background: #4AC7FA;
  border-radius: 0 4px 4px 0;
  line-height: 0; /* altura de linha 0 */

  transition: filter 0.2s;
}

header form button:hover {
  filter: brightness(90%);
}

.container main {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: calc(100vh - 149px);
}

main h2 {
  text-transform: uppercase;
  background: linear-gradient(90deg, #4AC7FA 0%, #E649F5 100%);

  -webkit-background-clip: text;  /* texto e não caixa */ 
  background-clip: text; /* compatibilidade de navegadores */ 

  -webkit-text-fill-color: transparent;

}

main ul {
  list-style: none;

  margin-top: 32px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* repeat (quantidade, tamanho) fr é fração do espaço disponível */ 
  gap: 16px;

}

main ul li {
  background-color: #2f2f32;
  padding: 16px;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid transparent;
  
  transition: all 200ms;
}

main ul li:hover {
  transform: translateY(-10px) scale(120%);
  /* scale dá zoom e translateY no eixo Y */

  border-color: #4AC7FA; 
}


.swal2-modal {
  border-radius: 4px;
  background-color: #2f2f32;
  color: #eaeaea
}